<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>home</title>

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>

<div class="package">
<h1>E-mail Generator</h1>


<form action="{% url 'email' %}" method="POST">

    <select class="provider" required name = 'domain'>
        <option value="" selected disabled>E-mail Domain</option>
            <option value="Gmail">Gmail</option>
            <option value="Proton">Proton</option>
            <option value="Yahoo">Yahoo</option>
    </select>

    <select class="length" required name = "length">
        <option value = ""selected disabled>Length</option>
        <option value = "5">5 letters</option>
        <option value = "6">6 letters</option>
        <option value = "7">7 letters</option>
        <option value = "8">8 letters</option>
        <option value = "9">9 letters</option>
        <option value = "10">10 letters</option>
        <option value = "11">11 letters</option>
        <option value = "12">12 letters</option>
        <option value = "13">13 letters</option>
        <option value = "14">14 letters</option>
        <option value = "15">15 letters</option>
    </select>

   <label class="numbers-button" for="numbers">Numbers</label>
    <input class="numbers-button" type = "checkbox" name="numbers" id="numbers">

    {% csrf_token %}
    <button class="generate-button" type = "submit">Generate e-mail</button>

</form>

<a class="about-button" href="{% url 'about' %}">About Page</a>

    </div>
</body>
</html>