* {
    padding: 0;
    margin: 0;
    box-sizing: border-box:
}




body {
    background-color: hsla(14, 50%, 60%, 0.3);
    font-family: 'Montserrat', sans-serif;
}


.package {
    padding: 50px;
    border-radius: 5px;
    text-align: center
}

.numbers-button {
    display: inline-block;

}

select,
label {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    display: block;
    margin: 0px auto;
    border: none;
    border-radius: 6px;
}

.provider {
    margin: 10px auto;
}

.length {
    margin-bottom: 7px;
 }

.generate-button {
    display:block;
    background-color: white;
    border: 2px solid green;
    border-radius: 6px;
    margin: 7px auto 14px auto;
    padding: 3px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.about-button {
    background-color: white;
    border: 2px solid dimgrey;
    border-radius: 6px;
    margin: 0px;
    text-decoration: none;
    padding: 3px;
    color: black;
    text-align:center;
}

.email_output {
    text-align: center;
    font-size: 25px;
    margin: 40px;
}

.center-link {
    display:flex;
    justify-content:center;
    align-items:center;

}
