* {
    padding: 0;
    margin: 0;
    box-sizing: border-box:
}

html {
    background-color: hsla(14, 50%, 60%, 0.3);
    font-family: 'Montserrat', sans-serif;
}

.package {
    padding: 50px;
    border-radius: 5px;
    text-align: center
}

.numbers_button {
    display: inline-block;

}

select,
label,
button {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    display: block;
    margin: 12px auto;
    border: none;
    padding: 5px;
    border-radius: 6px;
}

.generate_button {
    background-color: white;
    border: 1px solid green;
    border-radius: 6px;
    margin: 0px auto;
    width: fit-content;
}

.about_button {

    border: 1px solid dimgrey;
    border-radius: 6px;
    margin: 12px auto;
    width: fit-content;
}

.email_output {
    text-align: center;
    font-size: 25px;
    margin: 40px;

.text_center {
    text-align: center;
}
