* {
    padding: 0;
    margin: 0;
    box-sizing: border-box:
}

html {
    background-color: hsla(14, 50%, 60%, 0.3);
}

.text_layout {
   font-family: 'Montserrat', sans-serif;
   text-align: center
}

select,
label,
input,
button {
    display: block;
    margin: 0 auto;
    text-align: center;

}
